.container {
  max-width: 1000px;
}

@media screen and (min-width: 769px) {
  // Menu principal
  .cabecalhoPrincipal {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    nav {
      display: flex;
    }
  }

  // Mapa de cursos
  .rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 260px;
  }
}

// ---------------------------------------------------------------------
// Cursos
.conteudoPrincipal-cursos {
  margin-bottom: 5%;

  @media screen and (min-width: 459px) {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      .conteudoPrincipal-cursos-link {
        width: 48%;
        margin: 1%;

        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(2n+1) {
          margin-left: 0;
        }
      }
    }

    @media screen and (min-width: 769px) and (max-width: 989px) {
      .conteudoPrincipal-cursos-link {
        width: 31%;
        margin: 1%;

        &:nth-child(3n) {
          margin-right: 0;
        }

        &:nth-child(3n+1) {
          margin-left: 0;
        }
      }
    }

    @media screen and (min-width: 980px) {
      .conteudoPrincipal-cursos-link {
        width: 24%;
        margin: 1%;

        &:nth-child(2n) {
          margin-left: 0;
          margin-right: 0;
        }

        &:nth-child(2n+1) {
          margin-right: 0;
        }

        &:nth-child(4n) {
          margin: 1%;
          margin-right: 0;
        }

        &:nth-child(4n+1) {
          margin: 1%;
          margin-left: 0;
        }
      }
    }
  }
}

// Videos sobre
.videoSobre {

  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;

    &:before {
      content: "";
      padding-top: 56.25%;
      display: block;
      box-sizing: border-box;
    }

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  .videoSobre-sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    max-width: 500px;
    margin: 3% auto;
  }

  @media screen and (min-width: 769px) {
    .container {
      display: flex;
      justify-content: space-between;
    }

    .embed-responsive {
      max-width: 50%;
    }

    .videoSobre-sobre {
      margin: 0 0 0 3%;

      .videoSobre-sobre-list {
        flex-grow: 1;
      }
    }
  }
}

// ---------------------------------------------------------------------
// Rodape com input entrar em contato
.rodapePrincipal-patrocinadores {

  .rodapePrincipal-patrocinadores-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    li {
      margin: 2%;
    }

    @media screen and (min-width: 400px) {
      flex-direction: row;
    }
  }

  .rodapePrincipal-contatoForm-fieldset {
    display: flex;
    margin: 0 auto;
    max-width: 350px;

    input {
      width: 75%;
    }

    button {
      flex-grow: 1;
    }
  }

  @media screen and (min-width: 689px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .rodapePrincipal-patrocinadores-list {
      width: 70%;
      margin-bottom: 0;
      margin-right: 5%;
    }
  }
}
